body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}
img {
  height: 600px;
  width: 300px;
}
img:hover {
  background-color: grey;
}